body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.sectionstyle {
    float: left;
    margin-left: 5px;
    width: 48%;
}

button {
    background-color: aquamarine;
}

footer {
    margin-top: auto;
}